PORT=5000
DB_URL=mongodb+srv://example_db_username:example_db_password@cluster0.xi11k.mongodb.net/example-db?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development


# jwt
JWT_ACCESS_SECRET=access_secret
JWT_ACCESS_EXPIRES=1d

JWT_REFRESH_SECRET=JWT_REFRESH_SECRET
JWT_REFRESH_EXPIRES=30d

# Express session secret
EXPRESS_SESSION_SECRET=express-session

# bcrypt
BCRYPT_SALT_ROUND=10

# super_admin
SUPER_ADMIN_EMAIL=super@gmail.com
SUPER_ADMIN_PASSWORD=password

# Frontend URL 
FRONTEND_URL=http://localhost:5173

# Google
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=https://ride-express-backend.vercel.app/api/v1/auth/google/callback

